<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Mini WP</title>
</head>
<body>
  <div id="app">
    <!-- Register & Login Area Component -->
    <register-login
      id="outside" :section="section" @section="goTo" @login="loggedIn = true" v-if="!loggedIn">
    </register-login>
    <div id="inside" v-if="loggedIn">
      <!-- Navbar Component -->
      <nav-component :section="section" @section="goTo" @logout="loggedIn = false"></nav-component>
      <div id="container">
        <!-- Write Section -->
        <section id="writesection" v-if="section === 3">
          <input id="articletitle" type="text" v-model="editor.title" placeholder="Enter Title..." autofocus required>
          <!-- TipTap Editor Component -->
          <tip-tap :clear="clearEditor" @editor="updateEditor"></tip-tap>
          <form class="articleform" enctype="multipart/form-data">
            <div style="margin-bottom: 0.5rem;">
              <label for="tags">Tags:&nbsp;</label>
              <input type="text" id="tags" name="tags" v-model="editor.tags" placeholder="Enter comma-seperated tags (optional)">
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <span>
                <label for="fileinput" id="uploadbutton">Upload Image</label>
                <input id="fileinput" class="button" type="file" name="pic" accept="image/*" @change="fileSelect" hidden>
                <span v-show="file">
                  <span class="selectedfile">{{filename}}</span>
                  <span style="font-size: 1.5rem; vertical-align: -7%; cursor: pointer;" @click="clearFile">×</span>
                </span>
              </span>
              <button class="button button2" type="submit" @click.prevent="saveArticle">Publish Article</button>
            </div>
          </form>
          <p style="color: white;" v-show="alert">
            {{alert}}
          </p>
        </section>
        <!-- Explore Section -->
        <section id="exploresection" v-if="section === 4">
          <div v-show="!detailSection">
            <i class="smallheading">&nbsp;Tags: </i>
            <div class="taglist">
              <div class="tagbutton" :class="{selected: (selectedTag === tag)}" v-for="tag of currentTags" @click="selectTag(tag)">
                {{tag}}
              </div>
            </div>
            <div id="list1">
              <!-- Card Component -->
              <article-card
                v-for="article of filteredArticles" :key="article._id" :article="article" @click.native="detail(article)">
              </article-card>
            </div>
          </div>
          <div v-if="detailSection">
            <div style="display: flex; justify-content: center;" v-show="selectedArticle.imageUrl">
              <div class="viewerimage"><img :src="selectedArticle.imageUrl"></div>
            </div>
            <div class="viewertitle">{{selectedArticle.title}}</div>
            <div style=" padding: 0 0.5rem 0.8rem 0.5rem;">
              By: {{selectedArticle.author.email}}<br>
            </div>
            <!-- TipTap Viewer Component -->
            <tiptap-viewer :content="selectedArticle.content"></tiptap-viewer>
            <div style=" padding: 0.7rem 0.5rem;">
              <span style="color: #ddd;">Tags: {{selectedArticle.tags.join(', ')}}</span>
            </div>
            <button class="button" @click="goTo(4)">Return</button>
          </div>
        </section>
        <!-- My Articles Section -->
        <section id="myarticlessection" v-if="section === 5">
          <div v-show="!detailSection && !editSection">
            <i class="smallheading">&nbsp;Tags: </i>
            <div class="taglist">
              <div class="tagbutton" :class="{selected: (selectedTag === tag)}" v-for="tag of currentTags" @click="selectTag(tag)">
                {{tag}}
              </div>
            </div>
            <div id="list2">
              <!-- Card Component For My Articles -->
              <my-article
                v-for="article of filteredArticles" :key="article._id" :article="article" @view="detail(article)" @edit="edit(article)" @delete="delete1(article)">
              </my-article>
            </div>
          </div>
          <div v-if="detailSection">
            <div style="display: flex; justify-content: center;" v-show="selectedArticle.imageUrl">
              <div class="viewerimage"><img :src="selectedArticle.imageUrl"></div>
            </div>
            <div class="viewertitle">{{selectedArticle.title}}</div>
            <div style=" padding: 0 0.5rem 0.8rem 0.5rem;">
              By: {{selectedArticle.author.email}}<br>
            </div>
            <!-- TipTap Viewer Component -->
            <tiptap-viewer :content="selectedArticle.content"></tiptap-viewer>
            <div style=" padding: 0.7rem 0.5rem;">
              <span style="color: #ddd;">Tags: {{selectedArticle.tags.join(', ')}}</span>
            </div>
            <button class="button" @click="goTo(5)">Back</button>
          </div>
          <div v-if="editSection">
            <div style="margin-left: 0.5rem; margin-bottom: 0.3rem;">
              <i class="smallheading">Editing: </i>
            </div>
            <input id="edittitle" type="text" v-model="editor.title" placeholder="Enter Title..." autofocus required>
            <!-- TipTap Editor Component -->
            <tip-tap :clear="clearEditor" :content="selectedArticle.content" @editor="updateEditor"></tip-tap>
            <form class="articleform" enctype="multipart/form-data">
              <div style="margin-bottom: 0.5rem;">
                <label for="tags" style="color: black;">Tags:&nbsp;</label>
                <input type="text" id="tags" name="tags" v-model="editor.tags" placeholder="Enter comma-seperated tags (optional)">
              </div>
            </form>
            <p style="color: white;" v-show="alert">
              {{alert}}
            </p>
            <button style="margin-right: 0.5rem;" class="button1" @click.prevent="updateArticle">Save Changes</button>
            <button class="button1" @click="goTo(5)">Cancel</button>
          </div>
        </section>
      </div>
    </div>
  </div>
  <script src="./dist/bundle.js"></script>
</body>
</html>