*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    margin:0;
    height: 100%;
}

#app{
    display: flex;
    flex-flow: column nowrap;
}

.article-container{ 
    height:100%;
    width:80%;
    background: rgba(111,147,173, 0.1);
    margin-left:20%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-nav{
    margin: 50px auto;
    width: 1000px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.container-nav-link{
    flex-wrap: wrap;
    display: inline-block;
    height: 50px;
    width: 100px;
    line-height: 50px;
    padding-left: 20px;
}

.container-nav-search{
    display: inline-block;
    height: 50px;
    width: 90%;
    line-height: 50px;
    padding-left: 20px;
    flex-grow: 8;
}

.container-nav-link :hover{
    border-bottom: #0073aa
}

.container-post{
    align-content: center;
}

.card{
    width: 1000px;
}

nav{
    background-color: #0073aa;
}

.nav-elm{
    justify-content: space-evenly;
}

.sidenav {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: white;
    overflow: auto;
    flex: 2;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav i{
    width:20%;
}

.content{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 82%;
    overflow: auto;
    background: rgba(111,147,173, 0.1);
}

.card-img-top{
    height: 500px;
}

.card-img-top-display{
    height: 100%;
    width: 100%;
}

.card{
    margin-bottom: 40px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: gray;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

footer {
    flex-shrink: 0;
    height: 10rem;
    position: relative;
    padding: 3rem;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: #22344B;
    text-align: center;
}