/* --------------------- Initial setup ---------------------  */

@import '../node_modules/vue-wysiwyg/dist/vueWysiwyg.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}

/*----------------- Login Register Page SETUP -----------------*/

.g-signin2 {
  margin: 15px 0px 15px 0px;
}

.login-register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}

#login-form-container {
  width: 30%;
  height: 500px;
  background-color: #252728;
}

#register-form-container {
  width: 30%;
  height: 600px;
  background-color: #252728;
}

.login-register-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #1D1F20;
  border-bottom: 1px solid #333;
}

.login-register-header-text {
  color: #eee;
  font-size: 3rem;
}

.login-register-header-text a {
  color: #eee;
  font-size: 3rem;
}

.login-register-form-container {
  width: 100%;
  height: 400px;
  padding: 0px 50px 0px 50px;
}

.login-register-input {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  height: 50px;
  padding: 0px 20px 0px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  opacity: 0.9;
}

.login-register-button {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 30px;
  color: white;
  background-color: #303641;
  border: none;
  outline: none;
  height: 50px;
  width: 100px;
  margin-bottom: 10px;
}

.login-register-button:hover {
  transition: 0.3s;
  color: #555;
  background-color: #eee;
}

.login-register-input:focus, .login-register-button:focus {
  outline: none;
}

.login-register-text {
  color: #eee;
}

.login-register-text a {
  font-weight: bold;
}

/* --------------------- Navbar setup ---------------------  */

/* -------- Navbar Brand setup --------  */

.navbar {
  padding: 0;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 1;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

#logo {
  font-size: 2rem;
}

#brand-header {
  text-align: center;
  height: 100%;
  width: 20%;
  background-color: #222;
  padding: 5px 0px 5px 0px;
}

#brand-text {
  font-weight: bold;
  display: inline;
  font-size: 1.5rem;
}

/* -------- Navbar Avatar setup --------  */

#navbar-avatar-section {
  display: flex;
  flex-direction: row-reverse;
  width: 15%;
  margin-right: 10px;
}

#avatar {
  text-align: center;
  height: 100%;
  width: 70px;
  background-color: #30CA97;
  margin-right: 20px;
  color: #222;
}

#avatar:hover {
  transition: 0.2s;
  color: #ddd;
  background-color: black;
}

#avatar-emoji {
  font-size: 40px;
}

#logout-link {
  height: 60px;
  line-height: 60px;
  margin-right: 15px;
  text-decoration: none;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: bold;
}

#logout-link:hover {
  transition: 0.3s;
  color: white;
}

/* --------------------- Main Page setup ---------------------  */

#main-page {
  margin-top: 60px;
}

/* --------------------- Menu Section setup ---------------------  */

#menu-section {
  position: fixed;
  min-height: 100vh;
  width: 20%;
  background-color: #1a70c0;
}

/* -------- User Profile setup --------  */

#user-profile {
  width: 100%;
  min-height: 100px;
  text-align: center;
  border-bottom: 1px solid #999;
  padding-bottom: 30px;
}

#user-icon {
  font-size: 4rem;
  color: #eee;
}

#user-name {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  color: #eee;
}


/* -------- Search Form setup --------  */

#search-input {
  width: 90%;

  margin: 0 auto;
}

/* -------- Menu Container setup --------  */

.menu-list {
  color: #eee;
  font-size: 1.3rem;
  font-weight: bold;
}

.menu-container {
  padding: 10px 10px 10px 20px;
}

.menu-container:hover {
  transition: 0.3s;
  background-color: #165592;
}

.menu-list span i {
  width: 30px;
}

.menu-list:hover {
  transition: 0.3s;
  color: white;
  text-decoration: none;
}


/* -------- Content Section setup --------  */

#content-section-article {
  min-height: 100vh;
  margin-left: 20%;
  width: 80%;
  padding: 50px 200px;
  background-color: #eee;
}

#content-section-header {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
}

.content-section-header-link {
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
}

.content-section-header-link:hover {
  border-bottom: 2px solid #777;
}

.content-section-header-link a {
  text-decoration: none;
}

.content-section-header-link a {
  color: #555;
  font-weight: bold;
  font-size: 1.2rem;

}

#content-section-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}

.article-container {
  width: 49%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}
.article-image-container {
  max-width: 100%;
  height: 200px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.article-title {
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #222;
}

.article-container a:hover {
  text-decoration: none;
}

.article-author-text {
  margin: 20px 0px 0px 0px;
  font-size: 0.8rem;
  color: #222;
}

.article-footer-text {
  margin: 0;
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 10px;
}

/* -------- Add Section setup --------  */

#content-section-add {
  height: 100vh;
  width: 80%;
  margin-left: 20%;
}

.title:focus, .description:focus {
  outline: none;
}

.title {
  width: 100%;
  height: 80px;
  font-size: 3rem;
  padding: 0px 20px 0px 20px;
  border: none;
}

#description {
  height: 500px;
  width: 100%;
  border: none;
  padding: 30px 20px 0px 20px;
  font-size: 1.5rem;
}

.show-image-form {
  margin: 20px 20px 0px 20px;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.input-image {
  margin-top: 20px;
  margin-left: 20px;
}

.button-form {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

/* -------- Display Article Section setup --------  */

#display-article-section{
  margin-top: 60px;
  margin-left: 20%;
  min-height: 100vh;
  background-color: #eee;
  padding: 80px 150px 80px 150px;
}

#display-article-section-image-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#display-article-section-title-container {
  margin-top: 30px;
  height: 15vh;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#display-article-section-title {
  font-weight: bold;
  font-size: 2.5rem;
  height: 15vh;
  line-height: 15vh;
}

#display-article-section-content {
  height: 85vh;
  font-size: 1.2rem;
  margin-top: 30px;
  padding: 50px 80px 50px 80px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* -------- Edit Section setup --------  */

#content-section-edit {
  height: 100vh;
  width: 80%;
  margin-left: 20%;
}

/* --------------------- Footer setup ---------------------  */

footer {
  width: 80%;
  margin-left: 20%;
  background-color: #222;
  text-align: center;
  height: 40px;
}

footer p {
  height: 40px;
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 0;
}
