<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mini WP</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bundle.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  </head>
  <body>
      
      <div id="app">
        <sidebar></sidebar>
        <div id="content">
          <navbar></navbar>
          <div class="margin-s background-white padding-l box-shadow-m grid-card-container">
            <div class="grid-card-title">
              <h2 v-if='articles.length > 0' class="padding-m">Your Published Articles</h2>
              <h2 v-else class="padding-m">No Article</h2>
            </div>
            <card v-for="article in articles" v-bind:title="article.title" v-bind:description="article.description"></card>
          </div>
          <footer-component></footer-component>
        </div>
      </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="vue/sidebar.js"></script>
  <script src="vue/navbar.js"></script>
  <script src="vue/card.js"></script>
  <script src="vue/footer.js"></script>
  <script src="app.client.js"></script>
  </body>
</html>