/* header, main, footer {
  padding-left: 300px;
} */
/* #register-swipe, #login-swipe {
  height: 100%;
} */
@media only screen and (max-width : 600px) {
  #navbar-username {
    display: none;
  }
}
.collection-item i {
  font-size: 25px;
}
#navbar-logo {
  font-size: 30px;
}


body {
  transition: background-color .5s;
}

.sidenav {
  /* position: absolute; */
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  /* overflow-x: hidden; */
  transition: 0.5s;
  padding-top: 40px;
}

.sidenav a {
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #49aaf5;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;

}

#main, #navbar-top {
  transition: margin-left .5s;
  padding-left: 16px;
}

/* @media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
} */