.row {
    display: flex;
    justify-content: center;
}

.col-2 {
    margin: 0;
    padding: 0;
    border-right: 10px rgb(33, 48, 54) solid;
}

.col-10 {
    /* border: 1px blue solid; */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1cFexQ8EQl5TV_qjr6sfjy53vE4K_iY0Mh0ZzgxA1n0zPoiXmzg'); 
    background-repeat: no-repeat;
    background-size: cover;    
}

button:hover, a:hover {
    cursor: pointer;
}

#homeSect {
    height: 100%;
}

#profileSect {
    
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1cFexQ8EQl5TV_qjr6sfjy53vE4K_iY0Mh0ZzgxA1n0zPoiXmzg');  */
    /* background-repeat: no-repeat; */
    /* background-size: cover;     */
    height: 100%;
    width: auto;
    /* border: 1px red solid; */
    
        
}

#landing {
    background-image: url("https://i.pinimg.com/originals/0e/c5/2e/0ec52e38638f730a8acf6d3417ab9547.jpg");
    /* background-image: url("https://media.wired.com/photos/593240cc58b0d64bb35d07d0/16:9/w_800,c_limit/whyte-a.gif"); */
    /* background-image: url("https://media3.giphy.com/media/1Agdw2w4UKtgs/giphy.gif"); */
    background-size: cover;
    background-position: center;    
    /* zoom: -1; */
    /* background-position-y: 150%; */
    /* background-position-x: -100%; */
    /* border: 1px green solid; */
    height:539px;
}
#landing .col-5 {
    margin-left: 120px;
    padding: 60px;
    /* border: 1px green solid; */

}
#landing .row{
    /* background-image: ''; */
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    /* border: 1px red solid; */
}

* {
    margin: 0;
    padding: 0;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);


.form-white .md-form label {
  color: #000002; 
}
.form-white input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff; 
}
.form-white input[type=text]:focus:not([readonly]) + label {
    color: #fff; 
}
.form-white input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff; 
}
.form-white input[type=password]:focus:not([readonly]) + label {
    color: #fff; 
}
.form-white input[type=password], .form-white input[type=text] {
    border-bottom: 1px solid #fff; 
}
.form-white .form-control:focus {
    color: #000002;
}
.form-white .form-control {
    color: #000002;
}
.form-white textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    color: #fff; 
}
.form-white textarea.md-textarea  {
    border-bottom: 1px solid #fff;
    color: #fff;
}
.form-white textarea.md-textarea:focus:not([readonly])+label {
    color: #fff;
}

.near-moon-gradient {
    background-image: linear-gradient(to bottom, #1bb3c7 10%, #11093d 100%);
}

/*
 * Configure the z-index of the editor UI, so when inside a Bootstrap
 * modal, it will be rendered over the modal.
 */
 :root {
    --ck-z-default: 100;
    --ck-z-modal: calc( var(--ck-z-default) + 999 );
}

/*
 * Override the width of the table set by Bootstrap content styles.
 * See: https://github.com/ckeditor/ckeditor5-table/issues/154.
 */
 .ck-content .table {
    width: auto;
}
